.tag-prob {
  padding: 0 0 0 5px;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: 400;
  color: @dark-theme-subtext;
}


.model-container-tag-list {
  width: 100%;
  -webkit-padding-start: 0px;
}

.model-container-tag-list-item {
  box-shadow: inset 0 -1px 0 0 rgba(28, 40, 56, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.model-container-tag-list-item:hover {
  background: rgba(29, 41, 56, 0.05);
  transition: background 0.1s ease-out;
}

.model-section {
  padding: 20px 25px;
}

.model-container-tag-list h3,
.model-section-header-container h3,
.model-container-nsfw-header h3,
.model-container-blur-header h3,
.region-thumbs-header {
  padding: 0;
  margin: 5px 0;
  opacity: 0.5;
  font-family: 'Sofia', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 17px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #030303;
  text-transform: uppercase;
}

.model-container-tag-list,
.model-container-video-tag-list,
.model-container-nsfw {
  display: flex;
  flex-wrap: wrap;
}

.model-container-tag-list li,
.model-container-nsfw li,
.model-container-nsfw-header,
.nsfw-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.predicted-concept-name,
.user-feedback-concept-name {
  font-family: 'Roboto Mono';
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 0;
  letter-spacing: 0.2px;
  color: #1b2634;
}

.panel-title a {
  text-decoration: none !important;
}

.buffer {
  padding: 20px;
}
.buffer-left {
  padding-left: 45px;
}
.buffer-line {
  padding-left: 20px;
  padding-right: 20px;
}
.buffer-right {
  padding-right: 20px;
}

.urlinput {
  width: 25em;
}
.comp-model-text {
  width: 90px !important;
}

.time-data{
  padding: 20px 0px 0px 25px;

}

