{{define "response"}}
<div class="buffer">
  <div class="row">
  {{if .Clarifai}}
    <div class="col-md-5 response-col">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading accordiontag">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseClarifai">Clarifai</a>
            </h4>
          </div>
          <div id="collapseClarifai" class="panel-collapse collapse">
            <section class="predicted-concept-name time-data ">
              Elapsed: {{.Clarifai.Elapsed}}
            </section>
            <section class="model-section">
              <ul class="model-container-tag-list">
                <li class="model-container-tag-list-column">
                  <h3>Predicted Concept</h3>
                  {{if ne (index .Clarifai.Tags 0).Score 0.0}}<h3>Score</h3>{{end}}
                </li>
                {{range .Clarifai.Tags}}
                  <li class="tag-block model-container-tag-list-item">
                    {{if .Image}}<img src="data:image/png;base64,{{.Image}}">{{end}}
                    <span class="predicted-concept-name">{{.Label}}</span>
                    <span class="tag-prob">{{if (ne .Score 0.0)}}{{.Score}}{{end}}</span>
                  </li>
                {{end}}
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  {{end}}
  {{if .Companies}}
    <div class="col-md-5 response-col">
    {{$listlen := len .Companies}}
      <div class="panel-group">
      {{range $i, $el := .Companies}}
        <div class="panel panel-default ">
          <div class="panel-heading accordiontag">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="{{(printf "#collapse%d" $i)|url}}">{{ $el.Company }}</a>
              </h4>
          </div>
          <div id="{{(printf "collapse%d" $i)}}" class="panel-collapse collapse">
            <section class="predicted-concept-name time-data ">
              Elapsed: {{$el.Elapsed}}
            </section>
            <section class="model-section">
              <ul class="model-container-tag-list">
                <li class="model-container-tag-list-column">
                  <h3>Predicted Concept</h3>
                  {{if ne (index $el.Tags 0).Score 0.0}}<h3>Score</h3>{{end}}
                </li>
                {{range $el.Tags}}
                  <li class="tag-block model-container-tag-list-item">
                    {{if .Image}}<img class="img-responsive" src="data:image/png;base64,{{.Image}}">{{end}}
                    <span class="predicted-concept-name">
                    {{.Label}}
                    </span>
                    <span class="tag-prob">{{if .Description}}{{.Description}}{{else if gt .Score 0.0}}{{.Score}}{{else}}{{end}}</span>
                  </li>
                {{end}}
              </ul>
            </section>
          </div>
        </div>
      {{end}}
      </div>
    </div>
  {{end}}
  </div>
</div>
{{end}}
