{{define "form"}}
<form method="post" action="/">
  Image URL: <input type="text" name="imgurl" value="https://cloud.google.com/vision/docs/images/faulkner.jpg"/>
  <!-- http://i.imgur.com/xK8I3xQ.jpg -->
  <select>
  <label>Clarifai Model</label>
    <option value='general-v1.3'>General</option>
    <option value='travel-v1.0'>Travel</option>
    <option value='food-items-v1.0'>Food</option>
    <option value='nsfw-v1.0'>NSFW</option>
    <option value='celeb-v1.3'>Celebrity</option>
  </select>
  <fieldset multiple>
    <input type="checkbox" name="competitors" value="Clarifai">Clarifai
    <input type="checkbox" name="competitors" value="Google">Google
    <input type="checkbox" name="competitors" value="Microsoft">Microsoft
    <input type="checkbox" name="competitors" value="Amazon">Amazon
    <input type="checkbox" name="competitors" value="IBM">IBM
  </fieldset>
  <input type="submit" value="Process">
</form>
{{end}}

{{define "response"}}
  {{if .Companies}}
    {{$listlen := len .Companies}}
    {{range .Companies}}
      <div {{if lt $listlen 4}}class="col-md-4 text-center"{{else if eq $listlen 4}}class="col-md-3 text-center"{{else}}class="col-md-2 text-center"{{end}}>
        <div class="panel panel-info panel-pricing">
          <div class="panel-heading">
              <i class="fa fa-check-square-o"></i>
              <h3>{{ .Company }}</h3>
          </div>

          <table class="list-group">
            <tr class = "list-group-item"><td>Time to analyze: </td><td>{{ .Elapsed }}</td></tr>
            {{range .Tags}}
              <tr class="list-group-item"><td>{{ .Label }}</td><td>{{ .Score }}</td></tr>
            {{end}}

          </table>

        </div>
      </div>
    {{end}}
  {{end}}
{{end}}
